* {
  margin: 0;
  padding: 0;
  font-family: "Archivo Black", sans-serif;
  background-color: yellow;
}

h1 {
  padding-top: 90px;
  margin-left: 100px;
  height: 120px;
  text-align: center;
  color: blue;
  font-family: "Archivo Black", sans-serif;
  font-family: "Dancing Script", cursive;
  font-family: "Instrument Serif", serif;
}

h2 {
  color: blue;
  padding-top: 80px;
  margin-left: 35px;
  text-align: center;
}

h3 {
  color: blue;
  padding-top: 100px;
  text-align: center;
  text-overflow: clip;
  font-size: xx-large;
}

h4 {
  color: blue;
  padding-top: 100px;
  font-size: 40px;
  text-align: center;
}

.fa-solid{
  background-color: transparent;
}

.sticky {
  height: 50px;
  width: 50px;
  position: sticky;
  left: 92%;
  bottom: 0%;
}
.sticky .logosticky {
  width: 100%;
  height: 100%;
}
.sticky:hover {
  width: 70px;
  height: 70px;
}

.navbar {
  position: fixed;
  height: 80px;
  width: 100%;
}
.navbar a {
  color: blue;
}

.nav-item {
  display: flex;
  justify-content: space-around;
  width: 200px;
  text-decoration: none;
}

.nav-link:hover {
  font-size: x-large;
  color: blue;
}

header {
  z-index: 10;
  background-color: yellow;
  height: 10px;
  position: fixed;
  background-position: center;
}

.licontainer {
  display: flex;
  width: 400%;
  justify-content: space-around;
  align-items: center;
  height: 60%;
}
.licontainer li {
  list-style: none;
}
.licontainer li a {
  text-decoration: none;
  color: blue;
}

.logocontainer {
  height: 55px;
  width: 55px;
}
.logocontainer .logo {
  width: 100%;
  height: 100%;
}
.logocontainer .logo:hover {
  width: 70px;
  height: 70px;
}

.footer-inicio{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

footer {
  padding: 10px;
  height: 100px;
  margin-bottom: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer ul li {
  list-style: none;
}
footer .redessociales {
  display: flex;
}
footer .redessociales li {
  margin-left: 10px;
}

.sectioncard {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
}
.sectioncard .card {
  width: 300px;
  border: 2px solid blue;
  background-color: yellow;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.sectioncard .card .imgproducto {
  width: 100%;
  height: 100%;
}
.sectioncard .card .card-text {
  margin-left: 15px;
}
@media only screen and (min-width: 1200px) {
  .sectioncard .cardcontainer {
    display: flex;
    justify-content: space-around;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding-left: 10px;
  }
}
.sectioncard .agregar-al-carrito {
  border-radius: 30px;
  background-color: blue;
  padding: 5px;
  color: azure;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
  margin-right: 50px;
}
.sectioncard .agregar-al-carrito:hover {
  transform: all;
  transform: scale(2, 1.5);
  transition-duration: 180ms;
  background-color: chartreuse;
  color: orange;
  height: 70px;
  width: 60px;
  font-size: 10px;
}

#contenedor_productos{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding-left: 10px;
  margin-top: 25px;
  margin-right: 200px;
  margin-left: 200px
}


legend {
  color: blue;
  font-size: x-large;
  margin-top: 20px;
  margin-left: 40%;
  text-align: center;
  border: solid blue 1px;
  width: 20%;
  height: 20%;
}

.beneficios {
  text-align: justify;
  color: blue;
  margin-top: 20%;
  font-size: x-large;
}

.cuenta {
  width: 500px;
  border: solid green;
  padding: 20px;
  margin: auto;
}
.cuenta .nombre {
  margin-block-end: 20px;
  height: 20%;
  width: 20%;
}
.cuenta .email {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 15.8%;
  width: 15.8%;
}
.cuenta .password {
  margin-block-start: 20px;
  height: 20%;
  width: 15.8%;
}
.cuenta .regist {
  margin-top: 20px;
}
.cuenta .ingresar {
  margin-top: 20px;
}
.cuenta .ingresar:hover {
  background-color: aquamarine;
  color: white;
}

.inforeparacion {
  border: solid green;
  margin-top: 22px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 30px;
  color: blue;
}

.cuadro {
  border-radius: 2px;
}

iframe {
  margin-left: 40px;
  width: 900px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.imgraparacion {
  margin-left: 680px;
  width: 900px;
  height: 500px;
}

.imgreparacion2 {
  width: 950px;
  margin-left: 40px;
  margin-top: 20px;
}

.subir {
  margin-left: 180px;
}

.carousel {
  justify-content: center;
}
.carousel {
  width: 800px;
  margin-left: 400px;
}

.pcontainer {
  margin-top: 40px;
  margin-left: 15px;
  margin-right: 15px;
  color: blue;
  font-size: 40px;
  border: solid green;
}

@media only screen and (max-width: 768px) {
  .logocontainer {
    height: 55px;
    width: 55px;
  }
  .logocontainer .logo {
    height: 150%;
    width: auto;
  }
  .logocontainer .logo:hover {
    width: 70px;
    height: 70px;
  }
  h1 {
    margin-left: 80px;
  }
  .cardcontainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    padding: left 10px;
  }
  .sectioncard {
    margin-right: 30px;
    margin-left: 30px;
  }
  .sectioncard .card {
    width: 172px;
  }
  .agregar-al-carrito:hover {
    margin-bottom: 30px;
    margin-left: 50px;
    margin-right: 50px;
  }
  .sticky {
    bottom: 3%;
  }
  .logocontainer {
    height: 25px;
    width: 25px;
  }
  h2 {
    font-size: 20px;
  }
  .cuenta {
    width: 300px;
    font-size: 15px;
  }
  legend {
    width: 30%;
  }
  .beneficios {
    font-size: 15px;
  }
  .inforeparacion {
    font-size: 11px;
    margin-right: 40px;
    padding-right: 5px;
    padding-left: 5px;
  }
  iframe {
    width: 300px;
    height: 200px;
    margin-left: 10px;
  }
  .imgraparacion {
    width: 200px;
    height: 200px;
    margin-top: 20px;
    margin-right: 100px;
    margin-left: 50px;
  }
  .imgreparacion2 {
    width: 200px;
    height: 200px;
  }
  .div-reparaciones {
    width: 300px;
    display: grid;
    margin-left: 50px;
    margin-right: 40px;
  }
  h4 {
    font-size: 20px;
  }
  .pcontainer {
    font-size: 25px;
    width: 350px;
    margin-top: 4px;
    display: flex;
  }
  .historia {
    display: block;
  }
  .carousel {
    width: 300px;
    height: 350px;
    margin-left: 50px;
    display: flex;
  }
  .carousel-item {
    width: 300px;
    height: 300px;
  }
  footer .redessociales {
    gap: 10px;
    margin-right: 20px;
  }
}
@media only screen and (max-width: 820px) {
  .navbar {
    position: fixed;
    width: 90%;
  }
  .inforeparacion {
    margin-left: 15px;
  }
  .carousel {
    height: 250px;
  }
  .pcontainer {
    font-size: 23px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1199px) {
  .cardcontainer {
    display: flex;
    justify-content: space-around;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding-left: 10px;
    margin-right: 400px;
  }
  .sectioncard .card {
    width: 160px;
  }
  .agregar-al-carrito {
    border-radius: 30px;
    background-color: blue;
    padding: 5px;
    color: azure;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
  }
  .agregar-al-carrito:hover {
    transform: all;
    transform: scale(2, 1.5);
    background-color: chartreuse;
    height: 98px;
    width: 80px;
    font-size: 15px;
  }

  #contenedor_productos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding-left: 10px;
    margin-right: 400px;
  }
}

/*# sourceMappingURL=styles.css.map */
