footer {
    padding: 10px;
    height: 100px;
    margin-bottom: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    ul li {
        list-style: none;
    }

    .redessociales {
        display: flex;

        li {
            margin-left: 10px;
        }
    }
}
