h1 {
    padding-top: 90px;
    margin-left: 100px;
    height: 120px;
    text-align: center;
    color: blue;
    font-family: 'Archivo Black', sans-serif;
    font-family: 'Dancing Script', cursive;
    font-family: 'Instrument Serif', serif;
}

h2 {
    color: blue;
    padding-top: 80px;
    margin-left: 35px;
    text-align: center;
}

h3 {
    color: blue;
    padding-top: 100px;
    text-align: center;
    text-overflow: clip;
    font-size: xx-large;
}

h4 {
    color: blue;
    padding-top: 100px;
    font-size: 40px;
    text-align: center;
}